#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
menu ul,li {margin: 0; list-style:none;}
menu li { line-height:180%;}

li button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.9em;
  font-size: 0.8em;
  font-weight: 500;

}
menu button:hover {
  border-color: #646cff;
}
 ul {margin: 5px;}


 

